@font-face {
    font-family: IRANSans;
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/iranSans/IRANSansWeb_UltraLight.woff") format("woff");
}
@font-face {
    font-family: IRANSans;
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/iranSans/IRANSansWeb_Light.woff") format("woff");
}
@font-face {
    font-family: IRANSans;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/iranSans/IRANSansWeb.woff") format("woff");
}
@font-face {
    font-family: IRANSans;
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/iranSans/IRANSansWeb_Medium.woff") format("woff");
}
@font-face {
    font-family: IRANSans;
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/iranSans/IRANSansWeb_Bold.woff") format("woff");
}
@font-face {
    font-family: IRANSans;
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/iranSans/IRANSansWeb_Black.woff") format("woff");
}